{% extends "./base.html" %}

{% block title %} PDT Massive {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% for m in materiales %}
        
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">{{m.titulo}}</h5>
              <p class="card-text">{{m.descripcion}}</p>
              <p class="card-text">{{m.tipo}}</p>
              <p class="card-text">{{m.calificacion}}</p>
              <a href="{{ MEDIA_URL }}{{m.archivo.url}}">Uploaded File</a>
            </div>
          </div>
          {% endfor %}
    </div>  
    <div>


    </div>
    

</div>
{% endblock %}