{% extends "./base.html" %}
{% load ratings %}
{% block title %} PDT Massive {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" >
        <img src="/uploads/Matematicas.png" alt="" width = 400>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% for m in materiales_mate %}
        
        <div class="card" style="width: 18rem;" >
            <div class="card-body" >
              <h5 class="card-title">{{m.titulo}}</h5>
              <p class="card-text">{{m.descripcion}}</p>
              <p class="card-text">{% ratings m %}</p>
              <a href="/detalle?id={{m.id}}" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
          {% endfor %}
    </div>  
    <div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <img src="/uploads/Ciencias.png" alt="" width = 400>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                {% for m in materiales_ciencias %}
                
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{m.titulo}}</h5>
                      <p class="card-text">{{m.descripcion}}</p>
                      <p class="card-text">{% ratings m %}</p>
                      <a href="/detalle?id={{m.id}}" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                  {% endfor %}
            </div>  
            <div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <img src="/uploads/Historia.png" alt="" width = 400>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        {% for m in materiales_historia %}
                        
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{m.titulo}}</h5>
                              <p class="card-text">{{m.descripcion}}</p>
                              <p class="card-text">{% ratings m %}</p>
                              <a href="/detalle?id={{m.id}}" class="btn btn-primary">Ver detalles</a>
                            </div>
                          </div>
                          {% endfor %}
                    </div>  
                    <div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <img src="/uploads/Lenguaje.png" alt="" width = 400>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% for m in materiales_lenguaje %}
                                
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">{{m.titulo}}</h5>
                                      <p class="card-text">{{m.descripcion}}</p>
                                      <p class="card-text">{% ratings m %}</p>
                                      <a href="/detalle?id={{m.id}}" class="btn btn-primary">Ver detalles</a>
                                    </div>
                                  </div>
                                  {% endfor %}
                            </div>  
                            <div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive">
            <table>
        </div> 

    </div>

</div>
{% endblock %}