{% extends "./base.html" %} 

{% block body %}
    <div class="text-center, text-dark">
        <h1>
            
            PDT Massive nace debido a que consideramos
            que no existe una igualdad de oportunidades para la preparación
            de la prueba de admisión universitaria, por ende decidimos crear una app web
            en donde todo estudiante pueda compartir, comentar y calificar materiale
            de estudio sobre las diferentes asignaturas, creando una comunidad
            de estudio y colaboración integral y sana. Dentro de la app podrás encontrar 
            todo tipo de material para la preparación de la prueba, como
            también podrás compartir apuntes, guías y ensayos y al mismo tiempo
            ayudar a otros, como otros te ayudarán a ti.

        </h1>
    </div>
{% endblock %}